<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- Custome website style -->

    <link href="/static/styles/layout.css" rel="stylesheet">

    <!-- Add specific style for each template -->
    {% block style %} {% endblock %}

    <title>Bio-Genre: {% block title %} {% endblock %}</title>
</head>
<body>
    <nav class="bg-light border navbar navbar-expand-md navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/static/images/bio-genre-2.webp" alt="Bio-Genre Logo" style="height: 35px; width: 32px;"/>
            Bio-Genre</a>
            <button
            aria-controls="navbar" aria-expanded="false"
            aria-label="Toggle navigation" class="navbar-toggler"
            data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
            </button>



            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav me-auto mt-2">
                    <li class="nav-item"><a class="nav-link" href="/sequence">Sequence-calculator</a></li>
                    {% if session["user_id"] %}
                    <li class="nav-item"><a class="nav-link" href="/blast">BLAST</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="datasetDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Species Data
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="datasetDropdown">
                            <li><a class="dropdown-item" href="/species-query">Query</a></li>
                            <li><a class="dropdown-item" href="/species-manage">Add species</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/api-docs">Developers</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="/register">Join us to connect our datasets and BLAST</a></li>
                    {% endif %}
                </ul>


                {% if session["user_id"] %}
                    <ul class="navbar-nav ms-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/logout">Log out</a></li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav ms-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>

    {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary mb-0 text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
    {% endif %}

    {% block custome %} {% endblock %}

    <main class="container py-5 text-center">
            {% block main %}{% endblock %}
        </main>

    {% block custome2 %} {% endblock %}
</body>
</html>
