{% extends "layout.html" %}

{% block style %}
<style>
.container.py-5.text-center {
    border: 1px solid green;
    background-color: rgba(236, 255, 220, 0.5);
    max-width: 95%;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    padding-left: 60px !important;
    margin-bottom: 20px;
    margin-top: 10px;
}

.form-row {
    display : flex;
    gap: 28px;
    margin: auto;
    margin-bottom: 25px;
}

.query-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.query-group input {
    width: 200px;
}

.query-group input:focus {
    border-color: lightgreen !important;
    box-shadow: 0 0 0 0.2rem rgba(144, 238, 144, 0.5);
}

.query-group textarea:focus {
    border-color: lightgreen !important;
    box-shadow: 0 0 0 0.2rem rgba(144, 238, 144, 0.5);
}

.query-group label {
    font-weight: bold;
    margin-left: 5px;
    margin-bottom: 5px;
}

</style>
{% endblock %}

{% block title%}
    Species
{% endblock %}

{% block main %}
<form action="/species-manage" method="POST" enctype="multipart/form-data">
<div class="form-row">
    <div class="query-group">
        <label for="common-name">Common name:</label>
        <input name="common_name" type="text" class="form-control" id="common-name" placeholder="Enter common name" required/>
    </div>

    <div class="query-group">
        <label for="scientific-name">Scientific name:</label>
        <input name="sci_name" type="text" class="form-control" id="scientific-name" placeholder="Enter species name" required/>
    </div>


    <div class="query-group">
        <label for="species-id">Habitat:</label>
        <input  name="habitat" type="text" class="form-control" id="habita" placeholder="Enter specie's habitat" style="width: 180px;" required/>
    </div>

    <div class="query-group">
        <label for="species-id">Lifespan:</label>
        <input name="life_span" type="text" class="form-control" id="life-span" placeholder="Enter specie's life span" style="width: 150px;" required/>
    </div>

    <div class="query-group">
        <label for="distribution">Geographic distribution:</label>
        <input name="location_value" type="text" class="form-control" id="location" placeholder="Enter sepcies's distribution location" style="width: 21em;"required/>
    </div>
</div>

<div class="form-row">
    <div class="query-group">
        <label for="distribution">Description:</label>
        <textarea name="description" type="text" class="form-control" rows="6" placeholder="Enter sepcies's description" style="width: 51em;" required></textarea>
    </div>
    <div class="query-group">
        <label for="formFile" class="form-label">Upload species image:</label>
        <input class="form-control" type="file" name="image" id="formFile" required  accept=".png" style="width: 21em;">
    </div>
</div>


<div class="submit-btn">
        <button id="search-btn" class="btn btn-primary" type="submit" style="margin-top: 20px;">Add specie</button>
</div>

</form>

{% endblock %}
