.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.nav-item {
    transition:
        font-weight 0.15s,
        background-color 0.15s,
        border-radius 0.15s;
}

.nav-item:hover {
    font-weight: bold;
    background-color: rgba(137, 243, 151, 0.5);
    border-radius: 20px;
}

.navbar-brand {
    font-weight: bold;
    color: rgb(7, 94, 7);
    font-size: 25px;
    font-family: "Time";
    font-weight:bold;
    background-color: rgba(90, 245, 103, 0.9);
    padding-right: 10px;
    padding-left: 6px;
    border-radius: 30px;
    transition: box-shadow 0.2s,
    background-color 0.2s
}

.navbar-brand:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    background-color: rgba(48, 235, 63, 0.9);
}

.form-group {
    background-color: rgba(206, 233, 248, 0.6);
    border: 1px solid rgb(99, 193, 247);
    margin-right: 20em;
    margin-left: 20em;
    padding-top: 2em;
    padding-bottom: 5em;
    font-family: "Roboto";


}

label[for="input"] {
    display: block;
    text-align: left;
    margin-left: 61px;
    font-weight: bold;
}

.form-group input.form-control {
    width: 23em !important;
}
